.vscode/launch.json
__pycache__/calculator.cpython-34.pyc
testpro/__pycache__/calculator.cpython-34.pyc
testpro/__pycache__/common.cpython-34.pyc
testpro/__pycache__/testadd.cpython-34.pyc
testpro/__pycache__/testsub.cpython-34.pyc
